[submodule "ExperiencingTranquility/Assets/SR_VFX"]
	path = ExperiencingTranquility/Assets/SR_VFX
	url = https://github.com/samcorbridge/SR_VFX.git
[submodule "ExperiencingTranquility/Assets/SR_MayaFiles"]
	path = ExperiencingTranquility/Assets/SR_MayaFiles
	url = https://github.com/samcorbridge/SR_MayaFiles.git